@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
background-image: linear-gradient(to top, blue, lightskyblue);
font-family: Arial, Helvetica, sans-serif;

}

header{
    width: 375px;
    height: 667px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}
#cabecalho{
    background-color: cadetblue;   
    width: 95%;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px ;
    margin-top: 10px;
}

#burguer{
    cursor: pointer;
}
#itens ul{
    list-style-type: none;
    margin: 5px;
}
#itens ul li{
    background-color: rgb(114, 110, 110);
    margin-top: 2px;
    padding: 5px;
    border-radius: 8px;
}

#itens {
    text-decoration: none;
    width: 95%;
    height: 120px;
    border-radius: 8px;        
}
#itens a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 7px;
    font-weight: bolder;
    
}